:root {
  --text-: #ffffff;

  --background: #010104;

  --primary-light: #91b69a;

  --primary: #548060;
  --bs-primary: #548060;

  --primary-dark: #324c39;

  --secondary: #0f1d0c;
  --secondary-light: #596e55;

  --accent: #c7a07b;
  --accent-light: #ffd79e;
  --accent-dark: #946847;
}

:root[data-theme="light"] {
  --text: #2b2b2b;
  --background: #ffede7;
  --primary: #ffc8a8;
  --secondary: #fc9ad0;
  --accent: #ffe5b3;
}
:root[data-theme="dark"] {
  --text: #fffded;
  --background: #212121;
  --primary: #ffb682;
  --secondary: #ffb9ed;
  --accent: #ffdfa4;
}