{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">-->

  <header class="masthead homepage-banner py-4">
    <div class="container flex-column">
      <p class="banner-text"><em>Phood</em></p>
      <p><a href="{% url 'home.index' %}">Home</a></p>
      <p><a href="{% url 'developer.files' %}">Update Database</a></p>
    </div>
  </header>
{% endblock content %}